<p id="notice"><%= notice %></p>

<!--
<p>
  <strong>Name:</strong>
  <%#= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%#= @idea.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%#= image_tag(@idea.picture_url, width: 200) if @idea.picture.present? %>
</p>

<h3>Comments</h3>
<%# @comments.each do |comment| %>
  <div>
    <strong><%#= comment.user_name %></strong>
    <br>
    <p><%#= comment.body %></p>
    <p><%#= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<%# end %>
<%#= render partial: 'comments/form', locals: { comment: @comment } %>

<%#= link_to 'Edit', edit_idea_path(@idea) %> |
<%#= link_to 'Back', ideas_path %>
-->

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@idea.picture_url, width: '100%') if @idea.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @idea.name %></p>
    <p><b>Description: </b><%= @idea.description %></p>
    <p>
      <%= link_to 'Edit', edit_idea_path(@idea) %> |
      <%= link_to 'Destroy', @idea, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', ideas_path %>
    </p>

    <h3>Comments</h3>
    <% @idea.comments.each do |comment| %>
      <div>
        <br>
        <p><strong><%= comment&.user&.user_name %>: </strong> <%= comment.body %></p>
        <% if comment.id.present? %>
          <%= link_to 'Delete', idea_comment_path(idea_id: @idea.id, id: comment&.id), method: :delete %>
        <% end %>
      </div>
   <% end %>
    <%= simple_form_for Comment.new, url: idea_comments_path(@idea), method: :post do |f| %>
      <%= f.input :body %>
      <%= f.submit 'Post' %>
    <% end %>
  </div>
</div>