<%= form_with(model: @contact, local:true) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>
  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
